
apiVersion: 1

# list of datasources to insert/update depending
# what's available in the database
datasources:
- name: Prometheus
  type: prometheus
  access: proxy
  orgId: 1
  url: http://{{ prometheus_ip }}:9090/
  # <map> fields that will be converted to json and stored in json_data
  version: 1
  # <bool> allow users to edit datasources from the UI.
  editable: true
